---
- name: Copy key to remote machine
  ansible.builtin.copy:
    src: "{{ _config.key_path }}"
    dest: /tmp/{{ _name }}.gpg
    owner: root
    group: root
    mode: 0644
  check_mode: false
  changed_when: false

- name: Find out whether key is ascii armored at {{ _config.key_path }}
  ansible.builtin.stat:
    path: /tmp/{{ _name }}.gpg
  register: _file

- name: Dearmor and add ascii key by path for {{ _name }}
  ansible.builtin.command: |
    gpg --batch --dearmor -o /usr/share/keyrings/{{ _name }}.gpg /tmp/{{ _name }}.gpg
  args:
    creates: /usr/share/keyrings/{{ _name }}.gpg
  when: "'ascii' in _file.stat.charset"

- name: Add binary key by path for {{ _name }}
  ansible.builtin.copy:
    src: "{{ _config.key_path }}"
    dest: /usr/share/keyrings/{{ _name }}.gpg
    owner: root
    group: root
    mode: 0644
  when: _file.stat.charset == 'binary'
