---
- name: Remove old repositories
  ansible.builtin.file:
    path: "/etc/apt/sources.list.d/{{ item }}"
    state: absent
  with_items: "{{ apt_repositories_absent }}"

- name: Update cache
  ansible.builtin.apt:
    update_cache: true
  changed_when: false
  failed_when: false # Ignore if we have outdated apt keys

- name: Install dependencies
  ansible.builtin.apt:
    pkg: "{{ apt_repositories_dependencies }}"

- name: Gather facts
  ansible.builtin.setup:

- name: Configure repo
  ansible.builtin.include_tasks: repo.yml
  loop: "{{ apt_repositories }}"

- name: Update cache
  ansible.builtin.apt:
    update_cache: true
  changed_when: false
